<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= app_name %></title>
    <link rel="stylesheet" href="front/css/home.css">
  </head>

  <body>
    <%- include('../../partials/header.ejs') %> home <br />
    <%- include('../../partials/footer.ejs') %>
    <script src="front/js/home.js"></script>
    <script>
      const abi = <%- abi %>;
      const adrSM = "<%- adrsm %>";
    </script>
  </body>
</html>
